<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>c74e8939cdd9</string>
	<key>SinaWeibo</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string>http://www.sharesdk.cn</string>
		<key>AppSecret</key>
		<string>38a4f8204cc784f81f9f0daaf31e02e3</string>
		<key>AppKey</key>
		<string>568898243</string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Wechat</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string>d4624c36b6795d1d99dcf0547af5443d</string>
		<key>AppKey</key>
		<string></string>
		<key>AppId</key>
		<string>wx0d269d4bda8d4592</string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>WechatMoments</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppId</key>
		<string>wx0d269d4bda8d4592</string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>WechatFavorite</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppId</key>
		<string>wx0d269d4bda8d4592</string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>TencentWeibo</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string>http://www.sharesdk.cn</string>
		<key>AppSecret</key>
		<string>ae36f4ee3946e1cbb98d6965b0b2ff5c</string>
		<key>AppKey</key>
		<string>801307650</string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>QQ</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string>HsfkKadwj56fCoAx</string>
		<key>AppKey</key>
		<string>1104943450</string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>QZone</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string>HsfkKadwj56fCoAx</string>
		<key>AppKey</key>
		<string>1104943450</string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Email</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>ShortMessage</key>
	<dict>
		<key>Enable</key>
		<true/>
		<key>OneKeyShare</key>
		<true/>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppSecret</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppId</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
</dict>
</plist>
